<div class=" bg-tdpPrimary p-4">
    <div class="min-h-[26rem] md:w-5/6 w-full m-auto max-w-screen-xl flex flex-col justify-center items-center">
        <div class="h-12 justify-center items-center flex mb-3">
            <p class="font-integralCF text-center text-2xl py-4 text-gray-200">Skills</p>
        </div>
        <div class="grid md:grid-cols-4 grid-cols-1 p-3">
            <div class="col-span-1 flex justify-center items-center text-white mb-4 md:mb-0">
                <div class="flex justify-center items-center md:items-start md:flex-col">
                    <p class="text-[7rem] font-integralCF mb-4" style="line-height: 1;">5+</p>
                    <div class="flex flex-col ml-3 md:ml-0">
                        <p class="font-bold text-base">Years</p>
                        <p class="font-bold text-base">Working</p>
                        <p class="font-bold text-base">Experience</p>
                    </div>
                </div>
            </div>
            <div class="col-span-3 flex flex-col justify-start items-start">
                <div class="flex flex-col">
                    <p class="text-gray-200 text-sm">Soy Frontend Developer con más de 5 años de experiencia especializado en Angular y React,
                        con habilidades sólidas en HTML5, CSS3 Y JavaScript. Mi enfoque se centra en crear
                        interfaces adaptable, interactivas y atractivas. Soy un profesional comprometido, adaptable
                        y siempre dispuesto a aprender nuevas tecnologías. </p>
                    <p class="font-bold my-3 text-gray-200">kvcm3h167&#64;gmail.com</p>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-3 w-full ">
                    <div class="relative flex items-center h-24 justify-center py-5 transition-all duration-500 border rounded-lg group px-7 before:w-full before:h-full before:rounded-2xl before:backdrop-blur-md before:z-10 before:absolute before:inset-0 cursor-crosshair group border-border">
                        <div class="relative h-auto opacity-20 w-max rotate-6 z-50 blur-sm transition-all duration-500 group-hover:blur-none group-hover:-translate-y-1/3 group-hover:opacity-100">
                            <div class="flex gap-2">
                                <svg-icon src="assets/icons/javascript.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/html5.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/css3.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/git.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                            </div>
                        </div>
                        <p class="absolute w-full font-bold text-center text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 max-w-[20ch] transition-all duration-500 z-[60] group-hover:translate-y-1/2">5+ años de experiencia</p>
                    </div>
                    <div class="relative flex items-center h-24 justify-center py-5 transition-all duration-500 border rounded-lg group px-7 before:w-full before:h-full before:rounded-2xl before:backdrop-blur-md before:z-10 before:absolute before:inset-0 cursor-crosshair group border-border">
                        <div class="relative h-auto opacity-20 w-max rotate-6 z-50 blur-sm transition-all duration-500 group-hover:blur-none group-hover:-translate-y-1/3 group-hover:opacity-100">
                            <div class="flex gap-2">
                                <svg-icon src="assets/icons/angular.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/bootstrap.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/scss.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/typescript.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                            </div>
                        </div>
                        <p class="absolute w-full font-bold text-center text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 max-w-[20ch] transition-all duration-500 z-[60] group-hover:translate-y-1/2">4+ años de experiencia</p>
                    </div>
                    <div class="relative flex items-center h-24 justify-center py-5 transition-all duration-500 border rounded-lg group px-7 before:w-full before:h-full before:rounded-2xl before:backdrop-blur-md before:z-10 before:absolute before:inset-0 cursor-crosshair group border-border">
                        <div class="relative h-auto opacity-30 w-max rotate-6 z-50 blur-sm transition-all duration-500 group-hover:blur-none group-hover:-translate-y-1/3 group-hover:opacity-100">
                            <div class="flex gap-2">
                                <svg-icon src="assets/icons/react.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/ionic.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/tailwindcss.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/vite.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                            </div>
                        </div>
                        <p class="absolute w-full font-bold text-center text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 max-w-[20ch] transition-all duration-500 z-[60] group-hover:translate-y-1/2">3+ años de experiencia</p>
                    </div>
                    <div class="relative flex items-center h-24 justify-center py-5 transition-all duration-500 border rounded-lg group px-7 before:w-full before:h-full before:rounded-2xl before:backdrop-blur-md before:z-10 before:absolute before:inset-0 cursor-crosshair group border-border">
                        <div class="relative h-auto opacity-30 w-max rotate-6 z-50 blur-sm transition-all duration-500 group-hover:blur-none group-hover:-translate-y-1/3 group-hover:opacity-100">
                            <div class="flex gap-2">
                                <svg-icon src="assets/icons/vue.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/azure.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/pinia.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                                <svg-icon src="assets/icons/django.svg" [svgClass]="'h-8 w-8'"></svg-icon>
                            </div>
                        </div>
                        <p class="absolute w-full font-bold text-center text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 max-w-[20ch] transition-all duration-500 z-[60] group-hover:translate-y-1/2">2+ años de experiencia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>