<nav class="bg-white border-gray-200 dark:bg-gray-900 h-16 max-w-screen-xl m-auto sticky top-0 z-50">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between md:justify-center mx-auto p-4">
      <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse md:hidden">
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-foreground font-integralCF">KVC</span>
      </a>
      <div class="inline-flex items-center justify-center md:hidden">
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
              <span class="sr-only">KVC</span>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
          </button>
          <button 
          (click)="handleToggleMenu()"
          data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
              <span class="sr-only">KVC</span>
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
          </button>

      </div>
      
      <div class="hidden w-full md:block md:w-auto bg-background z-10" id="navbar-default" [class.d-block]="openMenu()">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            @for (item of listNavItems(); track item.id) {
                <li class="flex justify-center items-center">
                    <a href="#" 
                    [class.text-blue-700]="item.active"
                    class="block py-2 px-3 text-foreground rounded md:bg-transparent md:p-0 text-center" aria-current="page">{{item.name}}</a>
                  </li>
            }
        </ul>
      </div>
    </div>
  </nav>
<div class="max-w-screen-xl bg-background flex flex-col items-center md:w-5/6 w-full m-auto">
    <div class="h-calc flex justify-center items-center">
        <section class="grid grid-cols-1 md:grid-cols-2 justify-center items-center">
            <div class="fixed md:right-10 md:top-10 right-3 top-5 hidden">
                <button (click)="toggleThemeMode()" [ngClass]="{ 'border-muted-foreground bg-card': item() == 'dark' }"
                    class="focus-visible:ring-ring inline-flex h-8 cursor-pointer items-center justify-start 
                    whitespace-nowrap rounded-md border border-border bg-background px-3 text-xs font-medium 
                    text-muted-foreground shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50 hover:bg-card hover:text-foreground">
                    <ng-container *ngIf="item() !== 'light'">
                        <i class="fa-solid fa-moon"></i>
                    </ng-container>
                    <ng-container *ngIf="item() === 'light'">
                        <i class="fa-solid fa-sun"></i>
                    </ng-container>
                    <p class="capitalize ml-2">{{ item() }}</p>
                </button>
            </div>
            <div class="flex flex-col justify-center items-center">
                <div class="md:4/6 w-5/6 flex flex-col">
                    <p class="font-bold text-base">👋 Hi, I am <span class="text-tdpPrimary">Kevin Venegas</span></p>
                    <p class="font-integralCF titleNav my-3">Frontend Developer</p>
                        <p class="text-sm">Mi enfoque en la accesibilidad y el rendimiento asegura que las aplicaciones web no solo luzcan bien, sino que también ofrezcan una experiencia de usuario excepcional.</p>
                    <div class="flex justify-between items-center mt-3">
                        <app-button impact="bold" shape="rounded" size="medium" tone="primary" (buttonClick)="onButtonClick()">Contactame</app-button>
                        <app-button impact="none" shape="rounded" size="medium" tone="primary" (buttonClick)="onButtonClick()">Download CV</app-button>
                    </div>
                </div>
            </div>
            <div class="flex justify-center items-center mt-3 md:mt-0 relative translate-y-10 md:translate-y-">
                <div class="max-w-72 relative">
                    <img class="w-auto max-h-72" src="assets/images/me-multicircle.png" alt="foto-profile">
                    <div class="w-10 h-10 absolute flex justify-center items-center left-[32%] top-[55%]">
                        <svg-icon src="assets/icons/typescript.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                </div>
                <div class="w-full absolute h-full">
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center right-[15%] top-[8%]">
                        <svg-icon src="assets/icons/vue.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center left-[8%] top-[40%]">
                        <svg-icon src="assets/icons/react.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center left-[16%] top-[10%]">
                        <svg-icon src="assets/icons/angular.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center right-6 top-[42%] md:right-[10%]">
                        <svg-icon src="assets/icons/ionic.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center right-[24%] bottom-[8%] md:right-[25%]">
                        <svg-icon src="assets/icons/bootstrap.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center right-[25%] -top-[13%]">
                        <svg-icon src="assets/icons/tailwindcss.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center right-[45%] -top-[8%] md:top-[-18%]">
                        <svg-icon src="assets/icons/scss.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center right-[6%] bottom-[20%] md:right-[10%]">
                        <svg-icon src="assets/icons/figma.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center left-[25%] -top-[12%]">
                        <svg-icon src="assets/icons/vite.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center left-[47%] -bottom-[8%]">
                        <svg-icon src="assets/icons/git.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center left-[26%] bottom-[8%]">
                        <svg-icon src="assets/icons/html5.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                    <div class="bg-muted-foreground/30 rounded-xl w-10 h-10 absolute flex justify-center items-center left-[8%] bottom-[18%]">
                        <svg-icon src="assets/icons/javascript.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>